<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm"
     th:fragment="nav">

    <div class="container">

        <a class="navbar-brand fw-bold"
           th:href="@{/}">
            CityCare HMS
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse"
             id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/}">
                        Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/patients}">
                        Patients
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/doctors}">
                        Doctors
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/appointments}">
                        Appointments
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/bills}">
                        Bills
                    </a>
                </li>

                <!-- DBMS OPERATIONS -->
                <li class="nav-item">
                    <a class="nav-link"
                       th:href="@{/dbms}">
                        DBMS Operations
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>

</body>

</html>